@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");

body {
  background: white;
  font-family: "Lobster Two", cursive;
}

canvas {
  position: fixed;
  left: 275px;
}
